@font-face {
  font-family: "FlavorsRegular";
  src: url("./fonts/Flavors-Regular.woff2") format("woff2"),
    url("./fonts/Flavors-Regular.woff") format("woff");
}

@font-face {
  font-family: "ArchivoMedium";
  src: url("./Archivo-Medium.woff2") format("woff2"),
    url("./Archivo-Medium.woff") format("woff");
}

@font-face {
  font-family: "NosiferRegular";
  src: url("./Nosifer-Regular.woff2") format("woff2"),
    url("./Nosifer-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "FlavorsRegular";
}
