@font-face {
  font-family: "FlavorsRegular";
  src: url("./fonts/Flavors-Regular.woff2") format("woff2"),
    url("./fonts/Flavors-Regular.woff") format("woff");
}

@font-face {
  font-family: "ArchivoMedium";
  src: url("./fonts/Archivo-Medium.woff2") format("woff2"),
    url("./fonts/Archivo-Medium.woff") format("woff");
}

@font-face {
  font-family: "NosiferRegular";
  src: url("./fonts/Nosifer-Regular.woff2") format("woff2"),
    url("./fonts/Nosifer-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #000000;
  --secondary-color: #eef7ab;
  --main-background: linear-gradient(49deg, #6314e8, #97c9d6, #d97e92, #865859);
  --main-box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px,
    rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px,
    rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
  --tabs-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --hover-box-shadow: rgba(196, 230, 44, 0.25) 0px 30px 60px -12px inset,
    rgba(187, 248, 5, 0.3) 0px 18px 36px -18px inset;
  --black-border: 1px dotted #000000;
  --yellow-border: 1px dotted #eef7ab;
}
#content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "ArchivoMedium";
  text-align: center;
  background: var(--main-background);
  background-size: 240% 240%;
  animation: gradient-animation 16s ease infinite;
}

#main {
  width: 60%;
  height: 100%;
  background: var(--main-background);
  background-size: 240% 240%;
  animation: gradient-animation 16s ease infinite;
  margin-bottom: 40px;
  box-shadow: var(--main-box-shadow);
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25px;
  padding-bottom: 10px;
}

.tab {
  font-size: 1.7rem;
  padding: 10px;
  border: var(--yellow-border);
  font-weight: bold;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: var(--tabs-box-shadow);
  cursor: pointer;
}

.tab:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: var(--black-border);
  box-shadow: var(--hover-box-shadow);
}

h1 {
  font-family: "FlavorsRegular";
}

/* Background Animation */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
